@{

    ViewData["Title"] = "Política de privacidade";

}

<h1>@ViewData["Title"]</h1>


<p>

    A política de privacidade é um dos instrumentos para a proteção de dados.<br />

    A política objetiva dar visibilidade ao tratamento de dados pessoais em um determinado serviço,

    atendendo princípios da Lei Geral de Proteção de Dados Pessoais (LGPD).<br />

</p>