@{

    ViewData["Title"] = "Home Page";

}


<div class="jumbotron">

    <h1>Wincomp Informática Ltda</h1>

    <h4>Consultoria - Desenvolvimento - Treinamento</h4>

</div>

<div class="row">

    <div class="col-md-4">

        <h3>ASP NET Core MVC</h3>

        <p>

            Neste curso você aprenderá a criar um site

            utilizando Entity Framework Core em uma aplicação

            ASP.NET Core MVC.

        </p>

    </div>

    <div class="col-md-4">

        <h3>Pré-Requisito</h3>

        <p>Participado dos seguintes cursos:</p>

        <ul class="navbar-nav flex-grow-1">

            <li class="nav-item">

                <a class="btn btn-default" href="https://www.wincomp.com.br/cursos/ListaCursos.html">1- C# básico</a>

            </li>

            <li class="nav-item">

                <a class="btn btn-default" href="https://www.wincomp.com.br/cursos/ListaCursos.html">2- ASP NET Core básico</a>

            </li>

        </ul>

    </div>

    <div class="col-md-4">

        <h3>Duração</h3>

        <p>Este é um curso 100% online que equivale a um bom curso presencial de 60 horas.</p>

    </div>

</div>